.mat-form-field {
  margin: 5px;
  width: 30%;
}

.mat-raised-button {
  height: 100%;
  width: 100%;
}

.multiplier-slider {
  width: 100%;
  margin-bottom: 15px;
}

.mat-card {
  width: 95%;
  height: fit-content;
  margin: 15px;
}
