.mat-form-field {
  margin: 5px;
  width: 30%;
}

.mat-raised-button {
  height: 100%;
  width: 100%;
}

.mat-stroked-button {
  margin: 10px;
}

.multiplier-slider {
  width: 100%;
  margin-bottom: 15px;
}

.mat-card {
  height: fit-content;
  margin: 15px;
}
