<app-admin-navbar></app-admin-navbar>

<div class="container mt-3">
  <h1 class="main-header"><strong>{{prevGameName}}</strong></h1>
  <div class="list row">
    <mat-card class="bg-primary">
      <mat-card-content>
        <h2 class="mat-card-title">Game</h2>
        <mat-label>Round time: {{currentGameConf.roundTime}} s</mat-label>
        <mat-slider class="multiplier-slider" [(ngModel)]="currentGameConf.roundTime" color="primary"
                    label="Multiplier"
                    thumbLabel
                    step="1"
                    min="1"
                    max="60"
                    aria-label="units"></mat-slider>

        <mat-label>Rounds: {{currentGameConf.numberOfRounds}}</mat-label>
        <mat-slider class="multiplier-slider" [(ngModel)]="currentGameConf.numberOfRounds" color="primary"
                    label="Rounds"
                    thumbLabel
                    step="1"
                    min="1"
                    max="100"
                    aria-label="units"></mat-slider>
        <mat-label>Multiplier: {{currentGameConf.poolMultiplierFactor}}</mat-label>
        <mat-slider class="multiplier-slider" [(ngModel)]="currentGameConf.poolMultiplierFactor" color="primary"
                    label="Multiplier"
                    thumbLabel
                    step="0.1"
                    min="1"
                    max="3"
                    aria-label="units"></mat-slider>
        <mat-label>Initial money amount: {{currentGameConf.initialMoneyAmount}}</mat-label>
        <mat-slider class="multiplier-slider" [(ngModel)]="currentGameConf.initialMoneyAmount" color="primary"
                    label="Multiplier"
                    thumbLabel
                    step="0.1"
                    min="1"
                    max="100"
                    aria-label="units"></mat-slider>
      </mat-card-content>
      <mat-card-content>
        <h2 class="mat-card-title">Artificial players</h2>
        <mat-form-field appearance="fill">
          <mat-label>Free Riders</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="currentGameConf.freeriders">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cooperators</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="currentGameConf.cooperators">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Casuals</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="currentGameConf.casuals">
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <button mat-raised-button color="primary" (click)="updateGameConf()">Update</button>
      </mat-card-content>
    </mat-card>

    <div class="col-md-1"></div>

    <div *ngIf="!currentGameConf">
      <p>Please click on a Game...</p>
    </div>
  </div>
</div>






