.edit-form {
  max-width: 400px;
  margin: auto;
}

.main-header {
  margin-bottom: 20px;
  margin-top: 30px;
  color: #0066cc;
  font-size: 34px;
}

.label-title {
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}

.float-right {
  margin-left: auto;
  margin-right: 0;
}

.conf-input {
  display: inline-block;
  width: 15%;
  text-align: right;
}

.conf-margin {
  margin-bottom: 30px;
  margin-top: 30px;
}

.mat-form-field {
  margin: 5px;
  width: 30%;
}

.mat-raised-button {
  height: 100%;
  width: 100%;
}

.mat-stroked-button {
  margin: 10px;
}

.multiplier-slider {
  width: 100%;
  margin-bottom: 15px;
}

.mat-card {
  padding-top: -15px;
  height: fit-content;
  max-width: 750px;
  margin: 10px;
  background-color: dodgerblue;
}

.mat-card-content {
  margin: 20px;
}

.full-width {
  width: 100%;
}

